doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Contacts
        
        link(href="../css/login.css", rel="stylesheet")
    body
        form.user-form
            section.user-form_photo.photo-section
                img.photo-section_avatar(src="../img/default-male-avatar.png", alt="avatar")
                button.photo-section_add-photo
                    img(src="../icons/add-img-ic.svg", alt="add photo")

