doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Contacts
        
        link(href="../css/login.css", rel="stylesheet")
    body
        section.login.container.p-5
            section.login_photo.position-relative
                img.avatar(src="../img/default-male-avatar.png", alt="avatar")
                button.login_add-photo
                    img(src="../icons/add-img-ic.svg", alt="add photo")

